<div class= "counts">
<div><strong>Total No of Users:</strong> <%= pluralize(@total_users, "user") %></div>
<div><strong>Total No of Products:</strong> <%= pluralize(@total_products, "product") %></div>
</div>
